<% provide(:title, "About") %>
<div class="about">
      <h1>About</h1>
      <h2>What is Tiny Twitter?</h2>
      <p>
            Tiny Twitter is an online news and social networking site where people communicate in short messages called tweets. Tweeting
            is sending short messages to anyone who follows you on Twitter, with the hope that your messages are useful and
            interesting to someone in your audience. Another description of Twitter and tweeting might be microblogging.
            Some people also use Twitter to discover interesting people and companies online and to follow their tweets for
            as long as they are interesting.
      </p>
      <header>
            <h2>Tiny Twitter Team</h2>
      </header>

      <div class="row">
            <div class="span6">
                  <img title="Gravatar" class="spotlight bio" src="https://en.gravatar.com/userimage/28861951/2766e8d2f260b87f56512643b8bad9d5.jpg?size=200"
                        alt="Default avatar 300x300 20121121" width="150" height="150" />
                  <div class="about-team-individual-info">
                        <h3>Javier Alvarez</h3>
                        <p>Developer and Wearer of many hats
                              <br>
                              <a href="mailto:fcojavierob@gmail.com">fcojavierob@gmail.com</a>
                        </p>
                  </div>
            </div>
            <p style="text-align: center;">
                  <em>Checkout my github and linkedin profile:</em>
                  <br>
                  <a href="https://github.com/javieku">Github</a>
                  <br>
                  <a href="linkedin.com/in/fcojavierobse">Linkedin</a>
            </p>
      </div>
</div>