<% provide(:title, "Help") %>
    <h1>Help</h1>
    <h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
    <h5>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h5>

    <hr />

    <div id="Content">

        <div id="lipsum">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere mattis ultrices. Aenean interdum sodales arcu, tristique
                viverra mauris suscipit non. Phasellus posuere, felis in vestibulum hendrerit, libero nibh dictum diam, a
                vulputate arcu metus quis libero. Quisque commodo vestibulum nulla, vitae euismod nulla venenatis non. Duis
                efficitur vulputate ullamcorper. Ut semper libero a velit mattis, id cursus dolor imperdiet. Suspendisse
                varius commodo lacus, eu gravida ligula sagittis at. Orci varius natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Pellentesque nec orci neque. Suspendisse sed ex elit. Aenean suscipit commodo
                euismod. Quisque dictum iaculis quam, sit amet consectetur nibh maximus sit amet. Quisque tincidunt, lacus
                eu molestie sagittis, tortor purus vulputate metus, eget ultrices ipsum dolor a elit. Mauris fermentum dolor
                nec eros consequat ultrices.
            </p>
            <p>
                Aliquam ut enim erat. Duis eleifend lectus ac vehicula hendrerit. Etiam non condimentum sem. Donec rhoncus nisi mauris, non
                auctor neque imperdiet quis. Etiam eget dui felis. Integer et efficitur dui. Morbi eleifend sapien tellus,
                vitae lobortis eros posuere vel. Aenean cursus magna ut egestas rhoncus. In hac habitasse platea dictumst.
                Aenean eu elit vel sapien mattis ultricies. Suspendisse auctor sagittis quam, et egestas mi rhoncus ac. Morbi
                odio arcu, viverra dictum leo vitae, ultrices ullamcorper orci.
            </p>
            <p>
                Maecenas id varius orci, sed vulputate felis. Sed sit amet mauris elit. Nunc volutpat quam velit, at congue arcu congue rutrum.
                Donec blandit lectus at mauris tempor posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                In vitae tempus diam. Mauris laoreet magna vel fermentum varius. Integer ac ante ex. Donec eu vehicula eros,
                ut tempor diam. Suspendisse porta id nisi quis tempor. Maecenas sit amet nunc id nulla sollicitudin tempor.
                Nunc condimentum tincidunt lacus sit amet placerat. Donec vestibulum pellentesque efficitur. Vestibulum dictum
                ullamcorper pellentesque.
            </p>
            <p>
                Nam cursus malesuada ligula. Sed mauris nisi, congue ut metus ac, dapibus dapibus odio. Integer placerat luctus dolor, quis
                lobortis odio interdum eget. Nulla ut magna sed diam feugiat molestie. Vestibulum varius euismod justo, a
                sodales erat congue posuere. Nullam consequat consectetur dolor. Etiam tincidunt neque nec augue condimentum
                gravida. Duis sed congue tellus, vitae eleifend metus. Orci varius natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Ut ac lacus scelerisque est tincidunt vehicula. Vivamus nec tortor at sapien
                finibus tempor nec eu eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                Curae; Vivamus in commodo odio. Aliquam cursus imperdiet enim ac consectetur. Nullam sodales nibh id lacus
                tincidunt, eget blandit quam pretium.
            </p>
            <p>
                Vivamus orci felis, porttitor a interdum in, convallis id tellus. Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                himenaeos. Cras leo velit, finibus vitae ultricies sed, pretium vel metus. Ut quis nibh quam. Praesent nec
                tortor volutpat, rhoncus erat in, dignissim turpis. Suspendisse sagittis vulputate elit at rhoncus. Orci
                varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ipsum libero, faucibus
                eu arcu eu, porttitor dapibus eros. Nulla lectus dui, scelerisque nec facilisis vel, vehicula ac nisi. Fusce
                eget mattis massa. Vivamus cursus, enim non hendrerit sodales, odio tellus commodo mauris, eleifend facilisis
                nisi lacus ac dolor. Duis sit amet urna neque. Mauris facilisis eros vitae eros efficitur euismod. Sed porttitor
                feugiat nibh maximus hendrerit. Aliquam volutpat neque mattis dignissim vulputate.
            </p>
        </div>

    </div>

    <hr />