@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$black-light: #333333;
$yellow: #fed136;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.background {
  background-color:#0084b4
}

/* universal */

body {
  padding-top: 60px;
  color:white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.btn-primary {
  color: white;
  background-color: $yellow;
  border-color: $yellow;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: #23527c;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h4, h5, h6 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: $yellow
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $yellow;
  font-family: 'Kaushan Script';
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.navbar-inverse
{
  .navbar-nav {
    li {
      a {
        color: white;
        &:hover {
          color:  $yellow;
          text-decoration: none;
        }
      }
    }
  }
}

.dropdown-menu
{
  background-color: $black-light;
}

/* footer */

footer {
  background: #222;
  padding: 25px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  text-align: center;
  a {
    color: $yellow;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.container_filler
{
  padding-bottom: 50px;
}

footer.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* home page styles */

.intro-text {
  color: white;
  padding-top: 75px;
  padding-bottom: 100px;
}

.intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .intro-text {
    color: white;
    padding-top: 150px;
    padding-bottom: 200px;
  }
  .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  border:5px solid #fff;
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: $black-light;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    border:5px solid #fff;
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.svgContainer {
  position: relative; width: 200px; height: 200px; margin: 0 auto 1em;
  border-radius: 50%; background: none; border: solid 2.5px #3A5E77; overflow: hidden;
  pointer-events: none;
  div {
    position: relative; width: 100%; height: 0; overflow: hidden;
    padding-bottom: 100%;
  }
  .mySVG {
    position: absolute; left: 0; top: 0; width: 100%; height: 100%;
    pointer-events: none;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $black-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    border:5px solid #fff;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.new_micropost {
  color: $black-light;
}

/* about */

.about img.spotlight{
  position:relative;
  margin-bottom:30px;
  border:5px solid #fff;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
.about img.spotlight.bio{
  margin-bottom:15px
}
.about #wanikani-team img{
  z-index:1
}
.about #wanikani-team .row{
  margin-top:-75px
}

.about .row
{
text-align:center;
}

/* pagination */

.pagination > .active > a
{
  z-index: 0;
}