<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <span class="copyright">Copyright &copy; Tiny Twitter 2018</span>
        <ul class="list-inline quicklinks">
          <li>
            <%= link_to "About",   about_path %>
          </li>
          <li>
            <%= link_to "Contact", contact_path %>
          </li>
        </ul>
      </div>
      <div class="col-md-3"> </div>
    </div>
  </div>
  </div>
</footer>