<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Tiny Twitter 2018</span>
        </div>
        <div class="col-md-4">
          <a href="https://github.com/javieku/tiny_twitter">Check out the code on github!</a>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
              <li class="list-inline-item"><%= link_to "About",   about_path %></li>
              <li class="list-inline-item"><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>